google-auth>=2.28.1
google-api-python-client>=2.120.0
pytz>=2024.1
aiohttp>=3.9.3
google-auth-oauthlib>=1.2.0
pytest>=8.0.2
fastapi>=0.110.0
uvicorn>=0.27.1
apscheduler>=3.10.4
python-telegram-bot>=21.0.1
pydantic>=2.6.3
pydantic-settings>=2.2.1
SQLAlchemy>=2.0.28
sqlmodel>=0.0.16
alembic>=1.14.1
asyncpg>=0.29.0
python-dotenv>=1.0.1
